{erl_opts, [debug_info]}.

{deps, [{telemetry, "~> 1.0"}, {http_cache_store_behaviour, "~> 0.3.0"}]}.

{minimum_otp_vsn, "26.0"}.

{plugins, [rebar3_format, rebar3_ex_doc, rebar3_hex]}.

{shell, [{config, "config/sys.config"}, {apps, [http_cache_store_disk]}]}.

{dialyzer, [{plt_extra_apps, [http_cache_store_behaviour]}]}.

{ex_doc,
 [{extras, ["README.md", "CHANGELOG.md"]},
  {main, "README.md"},
  {source_url, "https://github.com/tanguilp/http_cache_store_disk"}]}.

{hex, [{doc, #{provider => ex_doc}}]}.
