{erl_opts, [debug_info]}.

{deps, [{http_cache, "~> 0.2.0"}, {telemetry, "~> 1.0"}]}.

{minimum_otp_vsn, "26.0"}.

{plugins, [rebar3_format, rebar3_ex_doc, rebar3_hex]}.

{shell, [{config, "config/sys.config"}, {apps, [http_cache_store_disk]}]}.

{ex_doc, [{extras, ["README.md"]}, {main, "README.md"}]}.

{hex, [{doc, #{provider => ex_doc}}]}.
